 * {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background: #f2f2f2;
    
}

.main{
  background: white;
  width: 500px;
  padding: 30px;
  margin: 50px auto;
  border-top: 5px solid blue;
}

.main h2{
    font-size: 26px;
    line-height: 26px;
    padding: 30px;
    text-align: center;
}

.input{
    width: 100%;
    position: relative;
    margin: 25px auto;
    
}
.btn{
    margin-top: 40px;
    margin-left: 25%;
    padding-bottom: 20px;
    display: flex;
    gap: 60px; 
}

.icon{
    padding: 8px;
}

.text{
    width: 100%;
    padding:  8px 1px 8px 40px;
}

.input i{
    position: absolute;
    font-size: 18px;
    border-right: 2px solid #cccccc;
    color: blue;
    
}

 .contact{
    font-size: 30px;
    border-right: 20px solid #cccccc;
    padding: 8px;
}  

.text{
    border: 1px solid #cccccc;
    outline: none;
}

.gender{
    margin: 4px;
}

.lang{
    margin: 4px;
}

.country{
    display: inline;
    cursor: pointer;
}

#submit:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    
}
#showData:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}

@media(max-width:480px)
{
    .main{
        width: 100%;
        padding: 5px 10px;
        
    }
    .nav{
        width: 100%;
        
    }
    
}

#output{
    border-top: none;
    width: 60%;
}

#output table{
    table-layout: fixed;
    width: 100%;
    border-spacing: unset;
    
}

#output td{
    border: 2px solid black;
    padding: 5px 5px;
    word-wrap: break-word;
}

#thead{
    font-weight: bold;

}

#output button{
    margin-right: 5px;
}

small{
    display: none;
}





